.container {
	background-color: rgba(44, 62, 80, .1);
}

.tab-pane {
	background-color: #FFFFFF;
}

#review-table th, tr {
	cursor: pointer; cursor: hand;
}

.tab-pane {
	max-height: 500px;
	overflow: scroll;
	overflow-x: hidden;
}

table.tablesorter thead tr .header {
	background-image: url("../img/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;

}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("../img/desc.gif");
}